name: Publish to GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Task
        uses: Arduino/actions/setup-taskfile@master
        with:
          version: 3.x
      - name: Build Sphinx Docs
        run: task build_docs
      - name: Publish generated content to GitHub Pages
        uses: tsunematsu21/actions-publish-gh-pages@v1.0.1
        with:
          dir: docs/html
          token: ${{ secrets.ACCESS_TOKEN }}
