# Run tests and check pre-commit
name: Test

on:
  push:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Task
        uses: arduino/setup-task@v1

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Run CI
        run: task ci
